body {
    background-color:PowderBlue;
    
}
ul {
    background-color:#18aaa1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-style:double;
    border-color:black;
    overflow: hidden;

}
.head {
    font-family: 'Bangers', cursive; 
    color:#303450;
}
.des {
    font-family:"Baloo Tammudu",serif; 
    color:#303450;
}
table, th, td {
    border: 4px solid black;
    border-collapse:collapse;
}

img{
    width:250px;
    height:250px;
}

.icon {
    width:40px;
    height:40px;
}

li {
    font-family: 'Bangers', cursive;
    float: left;
    margin:0.5px;
    padding:0px;
    border:1px;
    border-style:solid;
    display:block;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

a:link {
    color: SeaGreen;
    text-decoration: none;
}

a:visited {
    color: Purple;
}

li a:hover {
    background-color: #028378;
}

a:hover {
    color: Red;
}
a:active {
    color: Green;
}
